@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';


/** @define input */


// stylelint-disable plugin/selector-bem-pattern
%button {
  &:disabled {
    background-color: $bg-light-grey;
  }

  &:enabled {
    background-color: $bg-light-grey-red;
    cursor: pointer;

    &:hover {
      background-color: $grey-red;
    }
  }
}

%input {
  @extend %paragraph-1-medium;

  border: $border-light-grey solid 0.125rem;
  border-radius: 0.25rem;
  color: $text-dark-grey;
  height: 3.5rem;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    border: $border-dark-grey solid 0.125rem;
  }
}

.input {
  &.input__button {
    @extend %input;
    @extend %button;
  }

  &.input__password {
    @extend %input;
  }

  &.input__radio {

  }

  &.input__reset {
    @extend %input;
    @extend %button;

    &.input__reset--simple {
      background-color: transparent;
      border: none;

      &:disabled,
      &:enabled,
      &:hover {
        background-color: transparent;
      }
    }
  }

  &.input__select {
    @extend %input;
  }

  &.input__submit {
    @extend %input;
    @extend %button;
  }

  &.input__text {
    @extend %input;
  }
}
// stylelint-enable plugin/selector-bem-pattern
