// Style of private routes template

@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define error-modal */


.error-modal {
  background-color: rgba($color: $bg-dark-grey, $alpha: 0.65);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  .error-modal__container {
    @extend %flex-column;

    background-color: $bg-light-grey;
    box-shadow: $shadow-2;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    .error-modal__content {
      border-bottom: 0.0625rem solid $border-dark-grey;
      overflow: hidden;
      padding: 1rem;
      width: 100%;

      &:nth-of-type(1) {
        background-color: $bg-dark-grey;
      }
      &:nth-of-type(3) {
        border-bottom: none;
      }
      &:nth-of-type(4) {
        @extend %flex-column;

        flex: 1;
      }
      &:last-of-type {
        border-bottom: none;
      }

      .error-modal__title {
        font-weight: 600;

        // stylelint-disable-next-line plugin/selector-bem-pattern
        &.modal__title--main-title {
          @extend %title-semibold;

          color: $text-dark-grey;
        }

        // stylelint-disable-next-line plugin/selector-bem-pattern
        &.modal__title--sub-title {
          @extend %subtitle-semibold;

          color: $text-light-grey;
        }
      }

      .error-modal__text {
        color: $text-dark-grey;

        &.error-modal__text--message {
          @extend %paragraph-medium;
          margin: 0 0 1rem;
        }
        &.error-modal__text--main {
          @extend %message-regular;

        }
        &.error-modal__text--details {
          @extend .error-modal__text--message;
        }
        &.error-modal__text--description {
          @extend %info-thin;
        }
      }

      .error-modal__list {
        flex: 1;
        overflow: auto;
        padding: 0.5rem;
        width: 100%;

        .error-modal__item {
          @extend .error-modal__text;
          @extend .error-modal__text--description;

          margin: 0.5rem 0 0 1rem;
        }
      }

      .error-modal__button {
        background-color: $bg-dark-grey;
        color: $text-light-grey;
        cursor: pointer;
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
        margin: 0 auto;
        padding: 0.5rem;
      }
    }
  }
}
