@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define session-modal */

.session-modal {
  .session-modal__container {
    @extend %flex-column-full;

    height: auto;
    width: 100%;

    .session-modal__content {
      @extend %flex-column-center;

      .session-modal__message {
        @extend %paragraph-1-medium;

        display: block;
        margin: 1rem;
        word-wrap: normal;
        width: 100%;

        &.session-modal__message--info {
          @extend %info-1-light;
        }
      }

      .session-modal__button {
        @extend %flex-row-center;
        @extend %paragraph-1-semibold;

        border: $border-dark-grey solid 0.225rem;
        border-radius: 0.5rem;
        cursor: pointer;
        height: 3rem;
        text-transform: uppercase;
        width: 13.9rem;
      }
    }
  }
}
