// Style of private routes template

@import '../common/colors.scss';
@import '../common/text.scss';

/** @define users-modal */


.users-modal {
  .users-modal__form {

    .users-modal__container {
      background-color: $bg-light-grey;
	  padding: 0 32px 8px;

      .users-modal__content {

        &:first-of-type {
          .users-modal__field {

            flex: 1;

            &.users-modal__field--small {
              flex: 0.5;
            }
          }
        }

//        .users-modal__button {
//          border: $border-light-grey solid 0.125rem;
//          border-radius: 0.25rem;
//          color: $text-dark-grey;
//          cursor: pointer;
//          padding: 0.5rem;
//
//          &.users-modal__button--reset {
//            display: block;
//            height: 2rem;
//            margin: 0 auto;
//            width: 2rem;
//          }
//
//          .users-modal__icon {
//            background-color: $bg-dark-grey;
//            display: block;
//            height: 100%;
//            margin: 0 auto;
//            width: 100%;
//          }
//
//          &:disabled {
//            background-color: $bg-light-grey;
//          }
//
//          &:enabled {
//            background-color: $bg-light-grey-red;
//            cursor: pointer;
//
//            &:hover {
//              background-color: $grey-red;
//            }
//            &:focus {
//              border: $border-dark-grey solid 0.125rem;
//            }
//          }
//        }

//        &:first-of-type() {
//          padding: 0 32px 32px;
//        }

        &:last-of-type() {
          flex: 1;
          overflow: hidden;
        }
      }

    }
  }
}
