// Style of private routes template

@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define users-modal */


.users-modal {

  .users-modal__container {
    @extend %flex-column;

    background-color: $bg-light-grey;
    height: 100%;
    width: 100%;

    .users-modal__content {

      &:first-of-type {
        @extend %flex-row;

        .users-modal__field {
          flex: 1;
        }
      }

      .users-modal__button {
        border: $border-light-grey solid 0.125rem;
        border-radius: 0.25rem;
        color: $text-dark-grey;

        padding: 0.5rem;
        &:disabled {
          background-color: $bg-light-grey;
        }

        &:enabled {
          background-color: $bg-light-grey-red;
          cursor: pointer;

          &:hover {
            background-color: $grey-red;
          }
          &:focus {
            border: $border-dark-grey solid 0.125rem;
          }
        }
      }

      &:first-of-type() {
        padding: 2rem;
      }

      &:last-of-type() {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
