// stylelint-disable plugin/selector-bem-pattern

// Style own of users route

@import './colors.scss';

/** @define users */

.sandbox {
  .users {
    padding: 3rem;

    .users__container {
      display: flex;
      flex-wrap: wrap;

      .users__group {
        flex: 1;
        padding-left: 2rem;

        &:first-of-type {
          flex: none;
          margin: 2rem 0 3rem;
          width: 100%;
        }
      }
    }

    .users__button {
      background-color: $bg-dark-cyan;
      color: $text-white;
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding: 0.5rem 2rem;

      &:disabled {
        background-color: $bg-grey-cyan;
      }

      &:enabled {
        cursor: pointer;

        &:hover {
          background-color: $bg-cyan;
        }
      }
    }

    .users__table {
      margin-bottom: 3rem;
      caption {
        font-size: 1.2rem;
        font-weight: bold;
      }

      th {
        padding: 0.5rem 2rem;
      }

      td {
        padding: 0.5rem 2rem;
        text-align: center;

        &:first-of-type {
          padding: 0;
        }
        .users__button {
          width: 100%;
        }
      }
    }
  }
}
