// stylelint-disable plugin/selector-bem-pattern

// Style own of users route

@import './colors.scss';

/** @define users */

.sandbox {
  .users {
    height: 100%;
    padding: 3rem;
    width: 100%;

    .users__title {
      display: block;
      font-weight: 700;
      margin: 0 0 1rem;
      width: 100%;
    }
    .users__sub-title{
      display: block;
      font-weight: 500;
      margin: 1rem 0;
    }
    .users__section-title {
      display: block;
      font-weight: 300;
      margin: 1rem 0;
    }

    .users__container {
      display: flex;
      flex-wrap: wrap;

      .users__section {
        border: $border-dark-grey solid 0.0625rem;
        flex: 1;
        padding: 1rem;

        &.users__container {
          flex-direction: column;

          &:first-of-type {
            flex: none;
          }
        }
      }
    }

    .users__actions {
      div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
      }

      .users__action-button {
        background-color: $bg-dark-cyan;
        color: $text-white;
        display: block;
        flex: 1;
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0.5rem 2rem;
        width: 100%;

        &:disabled {
          background-color: $bg-grey-cyan;
        }

        &:enabled {
          cursor: pointer;

          &:hover {
            background-color: $bg-cyan;
          }
        }
      }
    }

    .users__data {
      display: flex;
      flex-direction: column;

      .users__code {
        background-color: $bg-light-grey;
        flex: 1;
        overflow: auto;
        padding: 1rem;
      }
    }
  }
}
