// Style of private routes template

@import '../common/text.scss';
@import '../common/costanti.scss';

/** @define dialog */

// Costanti
$colorTextStd: getColor('black', 60);
$colorBackStd: getColor('black', 60);
$colorBackInv: getColor('black', 15);


.dialog {
  .dialog__container {
    .dialog__content {
      overflow: hidden;
      padding: 1rem;

      &:nth-of-type(1) {
        border-bottom: 0.0625rem solid $colorBackStd;
      }

      .dialog__title {
        font-weight: 600;
      }

      .dialog__text {
        color: $colorTextStd;

        &.dialog__text--message {
          @extend %paragraph-1-medium;
          margin: 0 0 1rem;
        }
        &.dialog__text--main {
          @extend %subtitle-regular;

        }
        &.dialog__text--details {
          @extend .dialog__text--message;
        }
        &.dialog__text--description {
          @extend %info-2-light;
        }
      }

      .dialog__list-container {
        overflow: auto;

        .dialog__list {
          padding: 0.5rem;

          .dialog__item {
            @extend .dialog__text;
            @extend .dialog__text--description;

            margin: 0.5rem 0 0 1rem;
          }
        }
      }

      .dialog__message {
        @extend %subtitle-regular;
        flex: 1;
        overflow: auto;
        padding: 0.5rem;
    }
    }
  }
}
