@import '../common/colors.scss';
@import '../common/text.scss';

/** @define session-modal */

.session-modal {
  .session-modal__container {
    .session-modal__content {
      .session-modal__message {
        margin: 1rem;
        word-wrap: normal;

        &.session-modal__message--info {
          @extend %info-1-light;
        }
      }

      .session-modal__button {
        @extend %paragraph-1-semibold;

        border: $border-dark-grey solid 0.225rem;
        border-radius: 0.5rem;
        cursor: pointer;
        height: 3rem;
        text-transform: uppercase;
        width: 13.9rem;
      }
    }
  }
}
