	// Application Common style

	// FILE OBSOLETI (da rimuovere una volta messi a posto gli altri)
//	@import './common/spacing.scss';
//	@import './common/media.scss';				// Serve? Si pu� segare?
//	@import './font/Saira';


	@import './common/icon.scss';				// Al momento serve ancora, ma andr� segato
	@import './common/background.scss';			// Al momento serve ancora, ma andr� segato
	@import './common/colors.scss';				// Al momento serve ancora, ma andr� segato


	// ** Nuovi .scss **
	@import './common/tipografici.scss';
	@import './common/strutturali.scss';
	@import './common/controls.scss';
	@import './common/layout.scss';


	// stylelint-disable-next-line plugin/selector-bem-pattern	// ???

	// ANDRA' TUTTO SEGATO....
	* {
	  border     : 0;
	  box-sizing : border-box;
	  font-family: default-400;		// Font definiti in "tipografici.scss"
	  line-height: 1rem;
	  font-size  : 1rem;
	  margin     : 0;
	  outline    : none;
	  padding    : 0;
	}
	:root {
	  font-size: 16px;

	}
