// Application Common style

@import './font/Saira';
@import './media.scss';
@import './icon.scss';
@import './background.scss';


// stylelint-disable-next-line plugin/selector-bem-pattern
* {
  border: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
  line-height: 1rem;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0;
}


:root {
  font-size: 15px;

  @media screen and (max-width: $break-medium) {
    font-size: 13px;
  }

  @media screen and (max-width: $break-small) {
    font-size: 11px;
  }
}
