// Style of private routes template

@import '../colors.scss';

/** @define logged */

.logged {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  .logged__header {
    height: 3rem;
    width: 100%;
  }

  .logged__footer {
    height: 1rem;
    width: 100%;
  }

  .logged__container {
    display: flex;
    flex: 1;

    .logged__navbar {
      background-color: $bg-light-grey;
      border-right: 0.125rem solid $dark-grey;
      height: 100%;
      width: 7.5rem;

      .logged__list {
        width: 100%;

        .logged__item {
          display: table;
          padding: 1rem;
          width: 100%;

          .logged__anchor {
            // stylelint-disable-next-line plugin/selector-bem-pattern
            .anchor__icon {
              margin: 1rem;
              height: calc(100% - 2rem);
              width: calc(100% - 2rem);
            }
          }
        }
      }
    }

    .logged__route {
      flex: 1;
      overflow: auto;
    }
  }
}
