// Style of private routes template

@import '../common/colors.scss';
@import '../common/text.scss';

/** @define logged */

.logged {
  overflow: hidden;

  .logged__header {
    background: url('../../../public/background/header.png') no-repeat left top;
    background-size: 100vw 5.3rem;
    height: 5.5rem;
    margin: 0 0 1.5rem;
    z-index: 2;

    .logged__header-box {
      background-color: $bg-white;
      border: $border-dark-grey 0.125rem solid;
      box-shadow: $shadow;
      height: 5.1rem;
      padding: 0.75rem;

      .logged__header-box--left {
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        opacity: 0;
        width: 50%;
      }

      .logged__header-box--right {
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        padding-left: 1.3rem;
        position: relative;
        width: 24.3rem;
      }
    }

    // .logged__header-outerhandler {
    //
    // }

    .logged__header-button {
      background-color: transparent;
      border-radius: 3.5rem;
      cursor: pointer;
      width: 16.5rem;
    }


    .logged__header-clock {
      @extend %higlighted-light;

      margin-left: 1rem;
    }
  }

  .logged__container {
    z-index: 1;

    .logged__navbar {
      background-color: $bg-light-grey;
      height: 39.5rem;
      padding-top: 0.7rem;
      width: 6rem;
      z-index: 2;

      .logged__list {

        .logged__item {
          display: table;
          padding: 0.9rem;
          width: 100%;

          .logged__anchor {
            // stylelint-disable-next-line plugin/selector-bem-pattern
            .anchor__icon {
              height: calc(100% - 1rem);
              width: calc(100% - 1rem);
            }
          }
        }
      }

      .logged__reverse {
        background: transparent;
        cursor: pointer;
        padding-top: 100%;
        position: relative;
        width: 100%;

        .logged__reverse-icon {
          display: block;
          background: $bg-dark-grey;
          height: calc(100% - 4rem);
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% - 4rem);
        }
      }
    }

    .logged__route {
      flex: 1;
      margin: 0 1.2rem;
      overflow: auto;
      z-index: 1;
    }

    &.logged__container--reverse {
      flex-direction: row-reverse;
    }
  }

  .logged__footer {
    background: url('../../../public/background/footer.png') no-repeat left top;
    background-size: 100% 100%;
    height: 0.4rem;
    margin: 1rem 0 0.7rem;
    width: 100%;
    z-index: 2;
  }

  .logged__jog {
    bottom: 2rem;
    height: 6.5rem;
    right: 2rem;
    position: fixed;
    width: 6.5rem;
    z-index: 3;

    .logged__anchor {
      background-color: $bg-light-grey;
      box-shadow: $shadow-2;

      // stylelint-disable-next-line plugin/selector-bem-pattern
      .anchor__icon {
        height: calc(100% - 3.5rem);
        width: calc(100% - 3.5rem);
      }

      // stylelint-disable-next-line plugin/selector-bem-pattern
      &:hover,
      &.anchor--active {
        background-color: $bg-dark-grey;
      }
    }
  }
}
