// Style of private routes template

@import '../colors.scss';

/** @define logged */

@mixin icon {
  margin: 1rem;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
}

.logged {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  .logged__header {
    height: 3rem;
    width: 100%;
  }

  .logged__footer {
    height: 1rem;
    width: 100%;
  }

  .logged__container {
    display: flex;
    flex: 1;

    .logged__navbar {
      background-color: $bg-light-grey;
      display: flex;
      flex-direction: column;
      height: 41rem;
      width: 7.5rem;

      .logged__list {
        flex: 1;
        width: 100%;

        .logged__item {
          display: table;
          padding: 1rem;
          width: 100%;

          .logged__anchor {
            // stylelint-disable-next-line plugin/selector-bem-pattern
            .anchor__icon {
              @include icon;
            }
          }
        }
      }

      .logged__reverse {
        background: transparent;
        cursor: pointer;
        padding-top: 100%;
        position: relative;
        width: 100%;

        .logged__reverse-icon {
          @include icon;
          display: block;
          background: $bg-dark-grey;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }

    .logged__route {
      flex: 1;
      overflow: auto;
    }

    &.logged__navbar--reverse {
      flex-direction: row-reverse;
    }
  }
}
