// stylelint-disable plugin/selector-bem-pattern

// PLACEHOLDER
$flex-list:(
  'row': (initial, row, initial, nowrap),
  'row-center': (center, row, center, nowrap),
  'row-full': (center, row, space-between, nowrap),
  'row-top': (flex-start, row, space-between, nowrap),
  'column': (initial, column, initial, nowrap),
  'column-center': (center, column, center, nowrap),
  'column-full': (center, column, space-between, nowrap),
  'column-top': (flex-start, column, space-between, nowrap),
  'list': (center, column, flex-start, nowrap),
  'wrap': (center, row, space-evenly, wrap),
);
@each $name, $data in $flex-list {
  $align: nth($data, 1);
  $direction: nth($data, 2);
  $justify: nth($data, 3);
  $wrap: nth($data, 4);

  %flex-#{$name} {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
  }
}


// POSITION
    %tl {
        left: 0;
        top: 0;
    }

    %cc {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .fixed-tl {
        @extend %tl;
        position: fixed;
    }

    .fixed-cc {
        @extend %cc;
        position: fixed;
    }

    .absolute-cc {
        @extend %cc;
        position: absolute;
    }

// SIZE
    .full-height { display: block; height: 100%;                }
    .full-width  { display: block; width:  100%;                }
    .full-size   { display: block; height: 100%; width: 100%;   }
    .full-screen { display: block; height: 100vh; width: 100vw; }


// CONTAINER
    // DEFAULT
    %flex {
        display:     flex;
        flex-wrap:   nowrap;
    }

    // MIXIN
    @mixin flex-support {
        // WRAP
        &.flex-wrap    { flex-wrap:       wrap;          }

        // JUSTIFY CONTENT
        &.flex-start   { align-items: flex-start; justify-content: flex-start;    }
        &.flex-center  { align-items: center;     justify-content: center;        }
        &.flex-evenly  { align-items: center;     justify-content: space-evenly ; }
        &.flex-between { align-items: center;     justify-content: space-between; }
        &.flex-end     { align-items: flex-end;   justify-content: flex-end;      }

        // CONTENT FLEX SIZE
        & > * {
            flex: none;
        }
    }

    // COLUMN CONTENTS
    .columns {
        @extend %flex;

        flex-direction: row;

        @include flex-support;
    }

    // ROW CONTENTS
    .rows {
        @extend %flex;

        flex-direction: column;

        @include flex-support;
    }


// CONTENT
    // Mappa le dimensioni dei contenuti
    @for $id from 1 through 16 {
        .is-#{$id} {
            flex: $id;
        }
    }
