// stylelint-disable plugin/selector-bem-pattern

// PLACEHOLDER
$flex-list:(
  'row': (initial, row, initial, nowrap),
  'row-center': (center, row, center, nowrap),
  'row-full': (center, row, space-between, nowrap),
  'row-top': (flex-start, row, space-between, nowrap),
  'column': (initial, column, initial, nowrap),
  'column-center': (center, column, center, nowrap),
  'column-full': (center, column, space-between, nowrap),
  'column-top': (flex-start, column, space-between, nowrap),
  'list': (center, column, flex-start, nowrap),
  'wrap': (center, row, space-evenly, wrap),
);
@each $name, $data in $flex-list {
  $align: nth($data, 1);
  $direction: nth($data, 2);
  $justify: nth($data, 3);
  $wrap: nth($data, 4);

  %flex-#{$name} {
    align-items: $align;
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
  }
}
