// stylelint-disable plugin/selector-bem-pattern

%mask {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

$icons: (
  'ic-dashboard',
  'ic-programs',
  'ic-tools',
  'ic-settings',
  'ic-to-left',
  'ic-to-right',
  'ic-arrow-drag',
);

@each $name in $icons {
  .#{$name} {
    @extend %mask;
    mask-image: url('../../../public/icons/#{$name}.svg');
  }
}
