// stylelint-disable plugin/selector-bem-pattern

// POSITION
    %tl {
        left: 0;
        top: 0;
    }

    %cc {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .fixed-tl {
        @extend %tl;
        position: fixed;
    }

    .fixed-cc {
        @extend %cc;
        position: fixed;
    }

    .absolute-cc {
        @extend %cc;
        position: absolute;
    }

    .text-cc {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

// SIZE
    .full-height { display: block; height: 100%;                }
    .full-width  { display: block; width:  100%;                }
    .full-size   { display: block; height: 100%; width: 100%;   }
    .full-screen { display: block; height: 100vh; width: 100vw; }


// CONTAINER
    // DEFAULT
    %flex {
        display:     flex;
        flex-wrap:   nowrap;
    }

    // MIXIN
    @mixin flex-support {
        // WRAP
        &.flex-wrap    { flex-wrap: wrap; }

        // JUSTIFY CONTENT
        &.flex-start   { align-items: flex-start; justify-content: flex-start;    }
        &.flex-top     { align-items: flex-start; justify-content: space-between; }
        &.flex-center  { align-items: center;     justify-content: center;        }
        &.flex-evenly  { align-items: center;     justify-content: space-evenly ; }
        &.flex-between { align-items: center;     justify-content: space-between; }
        &.flex-around { align-items: center;     justify-content: space-around; }
        &.flex-end     { align-items: flex-end;   justify-content: flex-end;      }

        // CONTENT FLEX SIZE
        & > * {
            flex: none;
        }
    }

    // COLUMN CONTENTS
    .columns {
        @extend %flex;

        flex-direction: row;

        @include flex-support;
    }

    // ROW CONTENTS
    .rows {
        @extend %flex;

        flex-direction: column;

        @include flex-support;
    }


// CONTENT
    // Mappa le dimensioni dei contenuti
    @for $id from 1 through 16 {
        .is-#{$id} {
            width: $id * 100 / 16;
        }
    }

    // Forza il ridimensionamento del componente in una flex box
    .fill {
        flex: 1;
    }
