// stylelint-disable plugin/selector-bem-pattern

$texts:(
  'title-bold': (1.5rem, normal, 700),
  'title-semibold': (1.5rem, normal, 600),
  'title-medium': (1.5rem, normal, 500),

  'subtitle-bold': (1.2rem, normal, 700),
  'subtitle-semibold': (1.2rem, normal, 600),
  'subtitle-medium': (1.2rem, normal, 500),
  'subtitle-regular': (1.2rem, normal, 400),

  'paragraph-1-semibold': (1rem, normal, 600),
  'paragraph-1-medium': (1rem, normal, 500),
  'paragraph-1-regular': (1rem, normal, 400),

  'paragraph-2-semibold': (0.9rem, normal, 600),
  'paragraph-2-medium': (0.9rem, normal, 500),
  'paragraph-2-regular': (0.9rem, normal, 400),

  'info-1-semibold': (0.8rem, normal, 600),
  'info-1-medium': (0.8rem, normal, 500),
  'info-1-regular': (0.8rem, normal, 400),
  'info-1-light': (0.8rem, normal, 300),

  'info-2-regular': (0.75rem, normal, 400),
  'info-2-light': (0.75rem, normal, 300),
  'info-2-thin': (0.75rem, normal, 100),

  'higlighted-light': (1.4rem, normal, 300),

  'input-medium': (1rem, normal, 500),

  'link-sembold': (1.1rem, normal, 700),
);

@each $name, $data in $texts {
  $size: nth($data, 1);
  $style: nth($data, 2);
  $weight: nth($data, 3);

  %#{$name} {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
  }
}
