// Style own of jog route

@import '../colors.scss';

/** @define jog */

.jog {

  .jog__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .jog__anchor {
      align-items: center;
      border: $border-dark-grey solid 0.225rem;
      display: flex;
      font-size: 0.8rem;
      font-weight: 600;
      height: 2.9rem;
      justify-content: center;
      position: relative;
      text-transform: uppercase;
      top: 1.35rem;
      width: 31.2rem;

      &:first-of-type{
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        left: 15.5rem;
      }

      &:last-of-type{
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        right: 15.8rem;
      }
    }
  }
}
