// Style own of jog route

@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define jog */

.jog {

  .jog__container {
    @extend %flex-row-top;

    margin: 0 auto;

    .jog__anchor {
      @extend %flex-row-center;
      @extend %info-1-semibold;

      border: $border-dark-grey solid 0.225rem;
      height: 2.9rem;
      position: relative;
      text-transform: uppercase;
      top: 1.35rem;
      width: 32.95%;

      &:first-of-type{
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        left: 15.5rem;
      }

      &:last-of-type{
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        right: 15.8rem;
      }
    }
  }
}
