// Style own of login route


@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';


/** @define login */

.login {
  height: 100vh;
  display: block;
  width: 100vw;

  .login__dialog {
    left: 50%;
    padding: 4rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .login__form {
    width: 100%;

    .login__title {
      @extend %title-bold;

      color: $text-dark-grey;
      margin: 0 0 1rem;
      padding: 0 3rem;
    }

    .login__form-box {
      @extend %flex-row-full;

      justify-content: space-around;
      width: 100%;
      margin: 0 0 3rem;
      padding: 0 3rem;

      .login__field {
        flex: 1;
        margin: 0 2rem 0 0;
      }

      .login__form-submit {
        flex: 0.5;
        height: 3.75rem;
      }
    }

    .login__form-gallery {
      height: 22rem;
      width: 100%;

      // stylelint-disable plugin/selector-bem-pattern
      .gallery__box-slides {
        .gallery__slides-tape {
          width: 100%;

          .gallery__slide {
            width: 100%;

            .gallery__slide-item {
              height: 22rem;
              margin: 0 calc((100% - (3 * 24rem)) / 2) 0 0;
              width: 24rem;
            }
          }
        }
      }
      // stylelint-enable plugin/selector-bem-pattern

      .login__button-card {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }
  }
}
