// Style own of tools route

@import '../common/colors.scss';
@import '../common/text.scss';

/** @define tools */

.tools {
  .tools__anchor {
    @extend %info-1-semibold;

    border: $border-dark-grey solid 0.225rem;
    height: 2.9rem;
    text-transform: uppercase;
    width: 33.2%;
  }

  .tools__anchor:first-of-type{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .tools__anchor:last-of-type{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  p.tools__anchor {
    border-radius: 0 !important;

    &:hover {
      background-color: $bg-white;
      color: $text-dark-grey;
    }
  }
}
