/** @define anchor */

@import '../common/costanti.scss';


$localColorTextStd:   getColor('black', 60);
$localColorBackStd:   getColor('black', 60);
$localColorTextInv:   getColor('black', 0);
$localColorBackInv:   getColor('black', 0);


.anchor {
  background-color: $localColorBackInv;
  color: $localColorTextStd;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  width: 100%;

  .anchor__icon {
    display: block;
    background: $localColorBackStd;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  // stylelint-disable plugin/selector-bem-pattern
  &:hover,
  &.anchor--active {
    background-color: $localColorBackStd;
    color: $localColorTextInv;

    .anchor__icon {
      background: $localColorBackInv;
    }
  }

  &.anchor--tile {
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  &.anchor--circle {
    @extend .anchor--tile;
    border-radius: 100%;
  }
  // stylelint-enable plugin/selector-bem-pattern
}
