/** @define anchor */

@import '../colors.scss';

.anchor {
  background-color: $bg-white;
  color: $text-light-grey;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;

  // stylelint-disable plugin/selector-bem-pattern
  &.anchor--tile {
    padding-top: 100%;
    position: relative;
    width: 100%;

    .anchor__icon {
      display: block;
      background: $bg-dark-grey;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &:hover,
  &.anchor--active {
    background-color: $bg-dark-grey;

    .anchor__icon {
      background: $bg-white;
    }
  }
  // stylelint-enable plugin/selector-bem-pattern
}
