/** @define card */

@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

.card {
  @extend %flex-row-full;

  background-color: $bg-light-grey;
  height : 100%;
  width: 100%;

  .card__box {
    flex: none;
  }

  .card__picture {
    @extend %flex-row-center;

    background-color: $bg-white;
    margin: 0 auto;
    overflow: hidden;

    .card__picture-icon {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .card__paragraph {
    color: $dark-grey;
    text-align: center;

    &--user {
      @extend %subtitle-semibold;
    }

    &--role {
      @extend %paragraph-1-medium;
    }

    &--text {
      @extend %info-thin;
    }

    &--last-access {
      @extend %info-1-semibold;
    }
  }

  &--button {
    flex-direction: column;
    padding: 2rem;
  }

  &--input {
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  &--header {
    padding: 0.5rem;
  }
}
