/** @define anchor */

@import '../common/costanti.scss';
@import '../common/text.scss';


$localColorTextStd:   getColor('black', 60);
$localColorBackStd:   getColor('black', 60);


/** @define link */


.link {
  padding-right: 0.6rem;

  .link__section{
    flex: 1;

    .link__icon {
      background-color: $localColorBackStd;
      display: block;
      height: 1.3rem;
      width: 1.3rem;
    }

    &:first-of-type {
      @extend %link-sembold;

      color: $localColorTextStd;
      text-align: left;
    }

    &:last-of-type {
      flex: none;
    }
  }
}
