// Style of private routes template

@import '../common/costanti.scss';
@import '../common/text.scss';

/** @define modal */

// Costanti
$localColorTextStd: getColor('black', 60);
$localColorBackStd: getColor('black', 60);
$localColorTextInv: getColor('black', 10);
$localColorBackInv: getColor('black', 10);
$shadow-2: 0.125rem 0.25rem 0.5rem 0 rgba(getColor('black', 100), 0.5);


.modal {
	background-color: rgba($color: $localColorBackStd, $alpha: 0.65);
	z-index: 999;

	.modal__container {
//	background-color: $bg-light-grey;
	background-color: $localColorBackInv;
	box-shadow: $shadow-2;
	padding: 1rem;

	.modal__head {
		margin: 0 0 0.5rem;
		overflow: hidden;
		padding: 1rem;

		.modal__title {
            @extend %title-bold;

            color: $localColorTextStd;
		}

		.modal__button {
            .modal__icon {
                background-color: $localColorBackStd;
            }
		}
	}

	.modal__section {
		overflow: hidden;

		// stylelint-disable-next-line plugin/selector-bem-pattern
		> * {
		    width: 100%;
		}
	}

    // .modal__footer {

    // }
  }

	// stylelint-disable plugin/selector-bem-pattern
	&.modal--small {
	.modal__container {
		height: auto;
		width: 30%;
	}
	}

	&.modal--medium {
	.modal__container {
		height: 50%;
		width: 50%;
	}
	}

	&.modal--big {
	.modal__container {
		height: 85%;
		width: 85%;
	}
	}

	// &.modal--data {

	// }

	&.modal--alert {.modal__container {
	.modal__head {
		background-color: $localColorBackStd;

		.modal__title {
            @extend %title-semibold;

            color: $localColorTextInv;
		}

		.modal__button {
            .modal__icon {
                background-color: $localColorBackInv;
            }
		}
	}
	}
	}
	// stylelint-enable plugin/selector-bem-pattern
}
