// Style of private routes template

@import '../common/costanti.scss';
@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define modal */

// Costanti
$colorTextStd: getColor('black', 60);
$colorBackStd: getColor('black', 60);
$colorTextInv: getColor('black', 10);
$colorBackInv: getColor('black', 10);


.modal {
	background-color: rgba($color: $colorBackStd, $alpha: 0.65);
	z-index: 999;

	.modal__container {
//	background-color: $bg-light-grey;
	background-color: $colorBackInv;
	box-shadow: $shadow-2;
	padding: 1rem;

	.modal__head {
		margin: 0 0 0.5rem;
		overflow: hidden;
		padding: 1rem;

		.modal__title {
            @extend %title-bold;

            color: $colorTextStd;
		}

		.modal__button {
            .modal__icon {
                background-color: $colorBackStd;
            }
		}
	}

	.modal__section {
		overflow: hidden;

		// stylelint-disable-next-line plugin/selector-bem-pattern
		> * {
		    width: 100%;
		}
	}

    .modal__footer {

    }
  }

	// stylelint-disable plugin/selector-bem-pattern
	&.modal--small {
	.modal__container {
		height: 30%;
		width: 30%;
	}
	}

	&.modal--medium {
	.modal__container {
		height: 50%;
		width: 50%;
	}
	}

	&.modal--big {
	.modal__container {
		height: 85%;
		width: 85%;
	}
	}

	&.modal--data {

	}

	&.modal--alert {.modal__container {
	.modal__head {
		background-color: $colorBackStd;

		.modal__title {
            @extend %title-semibold;

            color: $colorTextInv;
		}

		.modal__button {
            .modal__icon {
                background-color: $colorBackInv;
            }
		}
	}
	}
	}
	// stylelint-enable plugin/selector-bem-pattern
}
