// Style of private routes template

@import '../common/colors.scss';
@import '../common/flex.scss';
@import '../common/text.scss';

/** @define modal */


.modal {
  background-color: rgba($color: $bg-dark-grey, $alpha: 0.65);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  .modal__container {
    @extend %flex-column;

    background-color: $bg-light-grey;
    box-shadow: $shadow-2;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    .modal__head {
      @extend %flex-row-center;

      margin: 0 0 0.5rem;

      .modal__title {
        @extend %flex-row-full;
        @extend %title-bold;

        color: $text-dark-grey;
        flex: 1;
      }

      .modal__button {
        background-color: transparent;
        cursor: pointer;
        height: 1.25rem;
        width: 1.25rem;

        .modal__icon {
          background-color: $bg-dark-grey;
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }

    .modal__section {
      flex: 1;
      overflow: auto;
      padding: 1rem;
    }
  }

  &.modal--error {

    // stylelint-disable-next-line plugin/selector-bem-pattern
    .modal__container {
      height: 50%;
      width: 50%;
    }
  }

  &.modal--data {
    // stylelint-disable-next-line plugin/selector-bem-pattern
    .modal__container {
      height: 75%;
      width: 75%;
    }
  }
}
