/** @define input-card */

@import '../common/colors.scss';

.input-card {
    background-color: $bg-light-grey;
    border-radius: 0.25rem;
    height: 3.5rem;

    .input-card__reset {
      padding: 0 0.5rem;

    //   .input-card__reset-icon {
    //
    //   }
    }
  }
