/** @define input-card */

@import '../common/costanti.scss';


$localColorBackInv: getColor('black', 10);


.input-card {
    background-color: $localColorBackInv;
    border-radius: 0.25rem;
    height: 3.5rem;

    .input-card__reset {
      padding: 0 0.5rem;

    //   .input-card__reset-icon {
    //
    //   }
    }
  }
